.block {
  background-color: aqua;
  padding: 60px 0;
}

.block h1 {
  background: #fea;
  display: block;
  padding: 16px 12px;
  text-align: center;
  width: 500px;
}

.block p {
  display: block;
  background-color: #fea;
  padding: 16px 12px;
}
