.block {
  background-color: aqua;
  padding: 60px 0;
}

.block h1 {
  background: #fea;
  display: block;
  padding: 16px 12px;
  text-align: center;
  width: 500px;
}

.block p {
  display: block;
  background-color: #fea;
  padding: 16px 12px;
}

.block ul {
  display: block;
  padding: 60px 40px;
  background-color: red;
}

.block ul li {
  display: block;
  background-color: #fea;
  margin: 10px 20px;
  width: 400px;
  height: 20px;
}
